<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>请登录</title>
    <meta content="application/json">
    <meta charset="UTF-8">
</head>
<body>
<div>
    <form th:action="@{/index}" method="post" >
        <p>
            <span>用户名:</span>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <span>密码:</span>
            <input type="password" id="password" name="password">
        </p>

        <!-- 不使用 th:action 属性 和 不关闭csrf 的情况下，需要放开下面的标签 -->
        <!--<input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}"/>-->

        <input type="submit" value="登录" />
    </form>
</div>
</body>
</html>


